apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "malsori.fullname" . }}-nginx
  labels:
    {{- include "malsori.labels" . | nindent 4 }}
data:
  default.conf: |
    server {
        listen 80;
        server_name _;

        root /usr/share/nginx/html;
        index index.html;

        location / {
            try_files $uri $uri/ /index.html;
        }

        location = /healthz {
            add_header Content-Type text/plain;
            return 200 'ok';
        }

        error_page 404 /index.html;
    }
